.App {
  padding: 2em;
  max-width: 70%;
  margin: auto;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 3em;
}

.no-task {
  text-align: center;
  height: 6em;
}

.todo-spinner {
  display: block;
  margin: 3em;
  text-align: center;
}
