.header {
  background-color: #282c34;
  height: 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  box-sizing: border-box;
  color: #fff;
}

.app-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
}

.app-links {
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.header img {
  height: 1.5em;
  width: 1.5em;
  margin-right: 0.5em;
  border-radius: 0.75em;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.sign-out-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sign-out-button img {
  margin-left: 0.5em;
}
