.new-task-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20em;
}

.new-task-title {
  margin-left: 1em;
  margin-bottom: 1em;
}

.new-task-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 20em;
}
